@font-face {
  font-family: katong;
  src: url('../../../../static/app/fonts/oaACu_GBK.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: katong;
}

body {
  margin: 0 0 0 0;
  overflow: hidden;
  position: relative;
  background-color: #8ac43f;
}

img {
  border: none;
  display: none;
}

#canvas_parent {
  position: relative;
  max-width: 1366px;
}

#gameCanvas {
  max-width: 1366px;
}

#coverImg {
  display: none;
  position: absolute;
  z-index: 1;
  max-width: 1366px;
}